<div class="sidenav">
    <form (ngSubmit)="ChangeFeed()">
        <input type="text" name="url" required minlength="4" [(ngModel)]="InputRssFeed" [ngModelOptions]="{standalone: true}" placeholder="input URL">
        <input class="btn btn-primary" type="submit" value="Load Feed">
        <div class="feedsList">
            <h2>URL History list</h2>
            <button class="feedUrls" *ngFor="let feedUrl of feedUrls; let i = index;" (click)="getClickedFeed(i)" [ngClass]="{active: isActive(i)}">
                {{feedUrl}}
                <button (click)="deleteFeed(i)">X</button>
            </button>
        </div>
    </form>
</div>
<div class="main">
    <md-toolbar color="primary">
        <span class="center">{{feedUrl}}</span>
    </md-toolbar>
    <app-feed-card *ngFor="let feed of feeds" [feed]="feed"></app-feed-card>
</div>